[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "educabR"]
	path = educabR
	url = https://github.com/sidneybissoli/educabr
[submodule "healthbR"]
	path = healthbR
	url = https://github.com/sidneybissoli/healthbr
